

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
  }

  body{
    background-color: #E7F6F2;
  }

  ::-webkit-scrollbar {
    width: 0px;
  }
  

  .hero{
    background-image: url("../src/assets/images/heroBgImage.jpg");
    object-fit: contain;
    mask-repeat: no-repeat;
     background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

  .year-input{
    height: 30px !important;
  }

  