

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
  }

  body{
    background-color: #E7F6F2;
  }

  ::-webkit-scrollbar {
    width: 0px;
  }
  

  .hero{
    background-image: url("../src/assets/images/heroBgImage.jpg");
    object-fit: contain;
    mask-repeat: no-repeat;
     background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

  .year-input{
    height: 30px !important;
  }

  .movie-thumbnail{
    width:95%;
    height: 75%;
    border-radius: 15px;
  }

  .movie-card-container{
    padding: 5px;
    padding-top: 10px;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .movie-card-container:hover{
    transform: scale(1.03);
    background-color: rgba(255, 255, 0, 0.363);
    transition: 0.1s all ease-in-out;
  }

  .arrow-icon{
    color: black;
  }
  .page-number{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }


  